.sidebar
  .sidebar__header
    .sidebar__header__logo
      フロント太郎
    .sidebar__header__icon
      =link_to "#" do
        %i.fas.fa-edit
      =link_to "#" do
        %i.fas.fa-cog
        
  .sidebar__contents
    .sidebar__contents__group_name
      グループ名
    .sidebar__contents__text
      まだメッセージはありません
