.sidebar
  .sidebar__header
    .sidebar__header__logo
      = current_user.name
    .sidebar__header__icon
      =link_to "#" do
        %i.fas.fa-edit
      =link_to edit_user_path(current_user) do
        %i.fas.fa-cog

        
        
  .sidebar__contents
    .sidebar__contents__group_name
      グループ名
    .sidebar__contents__text
      まだメッセージはありません
