.sidebar
  .sidebar__header
    .sidebar__header__logo
      = current_user.name
    .sidebar__header__icon
      =link_to new_group_path do
        %i.fas.fa-edit
      =link_to edit_user_path(current_user) do
        %i.fas.fa-cog
                
  .sidebar__contents
    - current_user.groups.each do |group|
      =link_to "#{group.group_name}", group_chats_path(group.id), style: "color: white", class: "sidebar__contents__group_name"
      .sidebar__contents__text
        = group.show_last_chat