.main__chat
  .main__chat__title
    .main__chat__title__user_name
      = chat.user.name
    .main__chat__title__date
      = chat.created_at
  .main__chat__text
    = chat.text if chat.text.present?
  = image_tag chat.image.url, class: 'main__chat__image' if chat.image.present?